@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Transport Managment</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Transport Managment system</h2>
        <p>
            Transport Managment is a sample application that
            helps you to manage your cargoses and transports
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/WhatisloveK/TransportManagment-ASP.NET-Core-MVC-">See project source code &raquo;</a></p>
    </div>
</div>